<!-- Cards with media area -->
<div class="container-fluid cont">
  <br>
  <br>

  <div class="col">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 20rem;">
          <div class="card-body">
            <h2 class="card-title">Horóscopo con mas Likes</h2>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5gS2jXHbIzt0Ng7e3gcCjrG9pNuBK2V7HXA&usqp=CAU" class="card-img-top">
            <br>
            <br>
            <p class="card-text">Acuario</p>
            <p class="card-text"> 21 Enero-19 Febrero</p>
            <mat-divider></mat-divider>
            <section>
              <div class="example-label">Likes</div>
              <div class="example-button-row">
                <div class="example-flex-container">
               
                  <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon"
                    (click)="subirLikes(1)">
                    <mat-icon matBadge="{{likes1}}" matBadgeColor="warn">favorite</mat-icon>
                  </button>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card" style="width: 20rem;">
          <div class="card-body">
            <h2 class="card-title">Horóscopo con mas Likes</h2>
            <img src="https://media.istockphoto.com/id/539240628/es/vector/signo-del-zod%C3%ADaco-aries.jpg?s=612x612&w=0&k=20&c=mjNidhWznif2coAaDluXBdleCD2MKtyH4F4Rbn2omd0=" class="card-img-top">
            <br>
            <br>
            <p class="card-text">Aries</p>
            <p class="card-text">21 Marzo-19 Abril</p>
            <mat-divider></mat-divider>
            <section>
              <div class="example-label"></div>
              <div class="example-button-row">
                <div class="example-flex-container">

                  <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon"
                    (click)="subirLikes(2)">
                    <mat-icon matBadge="{{likes2}}" matBadgeColor="warn">favorite</mat-icon>
                  </button>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 20rem;">
          <div class="card-body">
            <h2 class="card-title">Horóscopo con mas Likes</h2>
            <img src="https://media.istockphoto.com/id/538871860/es/vector/signo-del-zod%C3%ADaco-c%C3%A1ncer.jpg?s=612x612&w=0&k=20&c=VYXxwZnAFDLF9kzXDtNgbcIu1I2fJ0PYxglMcRNJERQ=" class="card-img-top">
            <br>
            <br>
            <p class="card-text">Cancer</p>
            <p class="card-text">21 Junio-22 Julio</p>
            <mat-divider></mat-divider>
            <section>
              <div class="example-label"></div>
              <div class="example-button-row">
                <div class="example-flex-container">
                 
                  <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon"
                    (click)="subirLikes(3)">
                    <mat-icon matBadge="{{likes3}}" matBadgeColor="warn">favorite</mat-icon>
                  </button>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 20rem;">
          <div class="card-body">
            <h2 class="card-title">Horóscopo con mas Likes</h2>
            <img src="https://img.freepik.com/fotos-premium/signo-horoscopo-capricornio-doce-zodiaco-fondo-estrellas-galaxia_186616-34.jpg?w=2000" class="card-img-top">
            <br>
            <br>
            <p class="card-text">Capricornio</p>
            <p class="card-text">22 Diciembre-20 Enero</p>
            <mat-divider></mat-divider>
            <section>
              <div class="example-label"></div>
              <div class="example-button-row">
                <div class="example-flex-container">
                  
                  <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon"
                    (click)="subirLikes(4)">
                    <mat-icon matBadge="{{likes4}}" matBadgeColor="warn">favorite</mat-icon>
                  </button>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 20rem;">
          <div class="card-body">
            <h2 class="card-title">Horóscopo con mas Likes</h2>
            <img src="https://media.istockphoto.com/id/539016968/es/vector/signo-del-zod%C3%ADaco-scorpio.jpg?s=612x612&w=0&k=20&c=vtktsTMb8HIKTL9SjMmYOvLbAt5r51BCxCrOoY_-dis=" class="card-img-top">
            <br>
            <br>
            <p class="card-text">Escorpio</p>
            <p class="card-text">23 Octubre-21 Noviembre</p>
            <mat-divider></mat-divider>
            <section>
              <div class="example-label"></div>
              <div class="example-button-row">
                <div class="example-flex-container">
                 
                  <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon"
                    (click)="subirLikes(5)">
                    <mat-icon matBadge="{{likes5}}" matBadgeColor="warn">favorite</mat-icon>
                  </button>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card" style="width: 20rem;">
          <div class="card-body">
            <h2 class="card-title">Horóscopo con mas Likes</h2>
            <img src="https://media.istockphoto.com/id/538871976/es/vector/signo-del-zod%C3%ADaco-g%C3%A9minis.jpg?s=612x612&w=0&k=20&c=FaZAp2Rlkfjhob4RkmqSQVxNkhjxqGPZrgktIlz6X04=" class="card-img-top">
            <br>
            <br>
            <p class="card-text">Geminis</p>
            <p class="card-text">22 Mayo-21 Junio</p>
            <mat-divider></mat-divider>
            <section>
              <div class="example-label"></div>
              <div class="example-button-row">
                <div class="example-flex-container">
                 
                  <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon"
                    (click)="subirLikes(6)">
                    <mat-icon matBadge="{{likes6}}" matBadgeColor="warn">favorite</mat-icon>
                  </button>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 20rem;">
          <div class="card-body">
            <h2 class="card-title">Horóscopo con mas Likes</h2>
            <img src="https://media.istockphoto.com/id/538872042/es/vector/signo-del-zod%C3%ADaco-leo.jpg?s=612x612&w=0&k=20&c=BK3mwEOya6jOeeDU1NaMQ36q1vaDSo3Hu3ZRZFYibUo=" class="card-img-top">
            <br>
            <br>
            <p class="card-text">Leo</p>
            <p class="card-text">23 Julio-23 Agosto</p>
            <mat-divider></mat-divider>
            <section>
              <div class="example-label"></div>
              <div class="example-button-row">
                <div class="example-flex-container">
                
                  <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon"
                    (click)="subirLikes(7)">
                    <mat-icon matBadge="{{likes7}}" matBadgeColor="warn">favorite</mat-icon>
                  </button>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 20rem;">
          <div class="card-body">
            <h2 class="card-title">Horóscopo con mas Likes</h2>
            <img src="https://img.freepik.com/fotos-premium/libra-signo-horoscopo-doce-zodiaco-grafico-fondo-estrellas-galaxia-pensamiento-hombre-poligono_186616-85.jpg?w=2000" class="card-img-top">
            <br>
            <br>
            <p class="card-text">Libra</p>
            <p class="card-text">24 Septiembre-23 Octubre</p>
            <mat-divider></mat-divider>
            <section>
              <div class="example-label">Icon</div>
              <div class="example-button-row">
                <div class="example-flex-container">

                  <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon"
                    (click)="subirLikes(8)">
                    <mat-icon matBadge="{{likes8}}" matBadgeColor="warn">favorite</mat-icon>
                  </button>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 20rem;">
          <div class="card-body">
            <h2 class="card-title">Horóscopo con mas Likes</h2>
            <img src="https://img.freepik.com/fotos-premium/signo-horoscopo-piscis-doce-zodiaco-grafico-fondo-estrellas-galaxia-pensamiento-hombre-poligono_186616-94.jpg?w=2000" class="card-img-top">
            <br>
            <br>
            <p class="card-text">Piscis</p>
            <p class="card-text">19 Febrero-20 Marzo</p>
            <mat-divider></mat-divider>
            <section>
              <div class="example-label">Icon</div>
              <div class="example-button-row">
                <div class="example-flex-container">

                  <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon"
                    (click)="subirLikes(9)">
                    <mat-icon matBadge="{{likes9}}" matBadgeColor="warn">favorite</mat-icon>
                  </button>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 20rem;">
          <div class="card-body">
            <h2 class="card-title">Horóscopo con mas Likes</h2>
            <img src="https://cantabrialiberal.com/img/mitologia-griega-de-sagitario,536327,1.jpg" class="card-img-top">
            <br>
            <br>
            <p class="card-text">Sagitario</p>
            <p class="card-text">23 Noviembre-21 Diciembre</p>
            <mat-divider></mat-divider>
            <section>
              <div class="example-label">Icon</div>
              <div class="example-button-row">
                <div class="example-flex-container">

                  <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon"
                    (click)="subirLikes(10)">
                    <mat-icon matBadge="{{likes10}}" matBadgeColor="warn">favorite</mat-icon>
                  </button>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 20rem;">
          <div class="card-body">
            <h2 class="card-title">Horóscopo con mas Likes</h2>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1Xdhd8-tGtkwRVNkVhEuyw5ox8zZ21s1lxQ&usqp=CAU" class="card-img-top">
            <br>
            <br>
            <p class="card-text">Tauro</p>
            <p class="card-text">21 Abril-21 Mayo</p>
            <mat-divider></mat-divider>
            <section>
              <div class="example-label">Icon</div>
              <div class="example-button-row">
                <div class="example-flex-container">
                  <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon"
                    (click)="subirLikes(11)">
                    <mat-icon matBadge="{{likes11}}" matBadgeColor="warn">favorite</mat-icon>
                  </button>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 20rem;">
          <div class="card-body">
            <h2 class="card-title">Horóscopo con mas Likes</h2>
            <img src="https://media.istockphoto.com/id/926934082/es/vector/signo-zodiaco-virgo-fondo-de-cielo-nocturno-realista.jpg?s=612x612&w=0&k=20&c=A6yNVBZVDzTiY_ibx3xqhvvFaNqQoWpyPT6JtWhJJhU=" class="card-img-top">
            <br>
            <br>
            <p class="card-text">Virgo</p>
            <p class="card-text">24 Agosto-23 Septiembre</p>
            <mat-divider></mat-divider>
            <section>
              <div class="example-label">Icon</div>
              <div class="example-button-row">
                <div class="example-flex-container">

                  <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon"
                    (click)="subirLikes(12)">
                    <mat-icon matBadge="{{likes12}}" matBadgeColor="warn">favorite</mat-icon>
                  </button>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>


    </div>
  </div>

</div>
